a {
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 870%;
  max-width: 1100px;
  margin: 0 auto;
}

.menu-container {
  width: 94%;
  max-width: 1600px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .logo {
  width: 170px;
}
.nav .logo img {
  width: 100%;
  filter: invert(16%) sepia(88%) saturate(6726%) hue-rotate(352deg) brightness(88%) contrast(103%);
}
.nav .right-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav .right-nav .select-lang {
  margin-right: 35px;
  border: 1px solid #aaa;
  display: flex;
  align-items: center;
  position: relative;
}
.nav .right-nav .select-lang::before {
  font-family: "FontAwesome";
  content: "\f0ac";
  color: #fff;
  margin: 0 5px;
  position: absolute;
  left: 0;
  z-index: 100;
}
.nav .right-nav .select-lang::after {
  font-family: "FontAwesome";
  content: "\f0dd";
  color: #fff;
  margin: 0 5px;
  margin-top: -10px;
  position: absolute;
  right: 0;
  z-index: 100;
}
.nav .right-nav .select-lang select {
  font-weight: 300;
  color: #fff;
  padding: 7px 25px;
  line-height: 1.3em;
  border: none;
  outline: none;
  background: transparent;
  text-align: center;
}
.nav .right-nav .select-lang select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}
.nav .right-nav .sign-in-btn {
  font-size: 1rem;
  font-weight: 300;
  padding: 8px 25px;
  color: #fff;
  background-color: #e50914;
  text-decoration: none;
  border-radius: 3px;
}

.jumbo-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/hero-bg.jpeg);
  background: radial-gradient(circle, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.8) 100%), url(../img/hero-bg.jpeg) no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 750px;
  margin-top: -100px;
}
.jumbo-section .jumbo-center {
  max-width: 800px;
  width: 750px;
}
.jumbo-section .jumbo-center .jumbo-title {
  font-size: 4rem;
  font-weight: 600;
  line-height: 70px;
  color: #fff;
  text-align: center;
}
.jumbo-section .jumbo-center .jumbo-sub-title {
  text-align: center;
  color: #fff;
  font-size: 1.625rem;
  margin: 1rem auto;
  font-weight: 400;
}
.jumbo-section .jumbo-center form {
  margin-top: 30px;
}
.jumbo-section .jumbo-center form .jumbo-info {
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 20px;
}
.jumbo-section .jumbo-center form .email-input {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.jumbo-section .jumbo-center form .email-input .email-input-label {
  width: 66%;
  padding-right: 10px;
  position: relative;
}
.jumbo-section .jumbo-center form .email-input .email-input-label input {
  border: 1px solid #8c8c8c;
  height: 65px;
  font-size: 16px;
  width: 100%;
  padding: 0 10px;
  outline: none;
  border-radius: 2px;
}
.jumbo-section .jumbo-center form .email-input .email-input-label input:focus {
  border-color: #0071eb;
}
.jumbo-section .jumbo-center form .email-input .email-input-label input:focus + label {
  font-size: 13px;
  font-weight: 600;
  top: 12px;
}
.jumbo-section .jumbo-center form .email-input .email-input-label label {
  color: #8c8c8c;
  font-size: 16px;
  left: 10px;
  position: absolute;
  top: 47%;
  transform: translateY(-50%);
  transition: font 0.1s ease, top 0.1s ease, transform 0.1s ease;
}
.jumbo-section .jumbo-center form .email-input .email-btn {
  color: #fff;
  font-size: 1.6rem;
  height: 66px;
  width: 31%;
  border-left: 1px solid #333;
  border: none;
  outline: none;
  background-color: #e50914;
  cursor: pointer;
  padding: 0 1em;
}
.jumbo-section .jumbo-center form .email-input .email-btn:hover {
  background: #f40612;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
}

.movie-tv-s-section {
  background-color: #000;
  border-top: 8px solid #222;
  border-bottom: 8px solid #222;
  padding-top: 20px;
  padding-bottom: 70px;
}
.movie-tv-s-section .movie-info {
  width: 45%;
}
.movie-tv-s-section .movie-info .movie-info-title {
  color: #fff;
  font-size: 3.125rem;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 1rem;
}
.movie-tv-s-section .movie-info .movie-info-sub-title {
  color: #fff;
  font-size: 1.625rem;
  line-height: 1.2em;
  font-weight: 400;
  margin-bottom: 0.75rem;
}
.movie-tv-s-section .movie-video {
  width: 530px;
  position: relative;
}
.movie-tv-s-section .movie-video img {
  z-index: 2;
  width: 100%;
  position: relative;
}
.movie-tv-s-section .movie-video video {
  height: 100%;
  left: 50%;
  max-height: 54%;
  max-width: 73%;
  position: absolute;
  top: 47%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.download-section {
  background-color: #000;
  border-bottom: 8px solid #222;
  padding-top: 20px;
  padding-bottom: 70px;
}
.download-section .download-info {
  width: 50%;
}
.download-section .download-info .download-info-title {
  color: #fff;
  font-size: 3.125rem;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 1rem;
}
.download-section .download-info .download-info-sub-title {
  color: #fff;
  font-size: 1.625rem;
  line-height: 1.2em;
  font-weight: 400;
  margin-bottom: 0.75rem;
}
.download-section .download-img {
  display: flex;
  width: 45%;
  position: relative;
  margin-left: -90px;
}
.download-section .download-img img {
  width: 100%;
  position: relative;
  background-position: left top;
}
.download-section .download-img .download-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  background: #000;
  border: 2px solid hsla(0deg, 0%, 100%, 0.25);
  border-radius: 0.75em;
  bottom: 8%;
  box-shadow: 0 0 2em 0 #000;
  left: 50%;
  min-width: 15em;
  padding: 0.25em 0.65em;
  transform: translateX(-50%);
  width: 60%;
}
.download-section .download-img .download-card .str-thing-poster {
  width: 60px;
}
.download-section .download-img .download-card .str-thing-poster img {
  width: 100%;
  background-size: cover;
}
.download-section .download-img .download-card .download-card-info {
  width: 60%;
  margin-left: 20px;
}
.download-section .download-img .download-card .download-card-info span:first-child {
  display: block;
  color: #fff;
  font-size: 1em;
  margin-bottom: 5px;
}
.download-section .download-img .download-card .download-card-info span:last-child {
  display: block;
  color: #0071eb;
}
.download-section .download-img .download-card .download-icon {
  width: 48px;
}

.device-section {
  background-color: #000;
  border-bottom: 8px solid #222;
  padding: 60px 0;
}
.device-section .device-info {
  width: 45%;
}
.device-section .device-info .device-info-title {
  color: #fff;
  font-size: 3.125rem;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 1rem;
}
.device-section .device-info .device-info-sub-title {
  color: #fff;
  font-size: 1.625rem;
  line-height: 1.2em;
  font-weight: 400;
  margin-bottom: 0.75rem;
}
.device-section .device-video {
  width: 530px;
  position: relative;
}
.device-section .device-video img {
  z-index: 2;
  width: 100%;
  position: relative;
}
.device-section .device-video video {
  height: 100%;
  left: 50%;
  max-height: 47%;
  max-width: 63%;
  position: absolute;
  top: 34%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.kid-section {
  background-color: #000;
  border-bottom: 8px solid #222;
  padding: 70px 0;
}
.kid-section .kid-info {
  width: 50%;
}
.kid-section .kid-info .kid-info-title {
  color: #fff;
  font-size: 3.125rem;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 1rem;
}
.kid-section .kid-info .kid-info-sub-title {
  color: #fff;
  font-size: 1.625rem;
  line-height: 1.2em;
  font-weight: 400;
  margin-bottom: 0.75rem;
}
.kid-section .kid-img {
  display: flex;
  width: 45%;
}
.kid-section .kid-img img {
  width: 100%;
}

.faq-section {
  background-color: #000;
  padding: 70px 0;
}
.faq-section .faq-title {
  color: #fff;
  text-align: center;
  font-size: 3.125rem;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 0.5rem;
}
.faq-section .faq-container {
  width: 75%;
  max-width: 815px;
  margin: 4em auto;
  position: relative;
}
.faq-section .faq-container .faq-box .faq-q {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  background: #303030;
  color: #fff;
  font-size: 1.625rem;
  padding: 0.8em 2.2em 0.8em 1.2em;
  position: relative;
  cursor: pointer;
}
.faq-section .faq-container .faq-box .faq-q:not(:last-child) {
  margin-bottom: 10px;
}
.faq-section .faq-container .faq-box .faq-q i {
  margin-right: -20px;
}
.faq-section .faq-container .faq-box .faq-a {
  display: block;
  padding: 1.8em 3.5em 1.8em 2em;
  background: #303030;
  text-align: left;
  position: absolute;
  top: 10%;
  opacity: 0;
  transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
}
.faq-section .faq-container .faq-box .faq-a:not(:last-child) {
  padding-top: 2px;
  padding-bottom: 7px;
}
.faq-section .faq-container .faq-box .faq-a p {
  color: #fff;
  font-size: 1.625rem;
  font-weight: 300;
  line-height: 1.2;
}
.faq-section .faq-container .faq-box .faq-a p:first-child {
  padding-bottom: 1em;
}
.faq-section .sign-up-form {
  width: 750px;
  max-width: 800px;
  margin: 0 auto;
  max-width: 1100px;
}
.faq-section .sign-up-form form {
  margin-top: 30px;
  width: 100%;
}
.faq-section .sign-up-form form .jumbo-info {
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 20px;
}
.faq-section .sign-up-form form .email-input {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.faq-section .sign-up-form form .email-input .email-input-label {
  width: 66%;
  padding-right: 10px;
  position: relative;
}
.faq-section .sign-up-form form .email-input .email-input-label input {
  border: 1px solid #8c8c8c;
  height: 65px;
  font-size: 16px;
  width: 100%;
  padding: 0 10px;
  outline: none;
  border-radius: 2px;
}
.faq-section .sign-up-form form .email-input .email-input-label input:focus {
  border-color: #0071eb;
}
.faq-section .sign-up-form form .email-input .email-input-label input:focus + label {
  font-size: 13px;
  font-weight: 600;
  top: 12px;
}
.faq-section .sign-up-form form .email-input .email-input-label label {
  color: #8c8c8c;
  font-size: 16px;
  left: 10px;
  position: absolute;
  top: 47%;
  transform: translateY(-50%);
  transition: font 0.1s ease, top 0.1s ease, transform 0.1s ease;
}
.faq-section .sign-up-form form .email-input .email-btn {
  color: #fff;
  font-size: 1.6rem;
  height: 66px;
  width: 31%;
  border-left: 1px solid #333;
  border: none;
  outline: none;
  background-color: #e50914;
  cursor: pointer;
  padding: 0 1em;
}
.faq-section .sign-up-form form .email-input .email-btn:hover {
  background: #f40612;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
}

.footer {
  border-top: 8px solid #222;
  padding: 70px 45px;
  background-color: #000;
}
.footer .footer-container {
  width: 60%;
  max-width: 900px;
  margin: 0 auto;
}
.footer .footer-number {
  margin-bottom: 30px;
}
.footer .footer-number p {
  font-size: 1em;
  color: #737373;
}
.footer .footer-number p a {
  color: #737373;
}
.footer .footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.footer .footer-wrapper .footer-box .footer-link-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer .footer-wrapper .footer-box .footer-link-container .footer-list:not(:last-child) {
  margin-bottom: 16px;
}
.footer .footer-wrapper .footer-box .footer-link-container .footer-list .footer-link {
  color: #737373;
  font-size: 13px;
}
.footer .footer-wrapper .footer-box .footer-link-container .footer-list .footer-link:hover {
  text-decoration: underline;
}
.footer .select-lang {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(34, 34, 34);
  align-items: center;
  width: 15%;
  position: relative;
}
.footer .select-lang::before {
  font-family: "FontAwesome";
  content: "\f0ac";
  color: #999;
  margin: 0 10px;
  position: absolute;
  left: 0;
  z-index: 100;
}
.footer .select-lang::after {
  font-family: "FontAwesome";
  content: "\f0dd";
  color: #999;
  margin: 0 10px;
  margin-top: -10px;
  position: absolute;
  right: 0;
  z-index: 100;
}
.footer .select-lang select {
  font-weight: 300;
  color: #999;
  padding: 16px 5px;
  line-height: 1.3em;
  border: none;
  outline: none;
  width: 100%;
  background: transparent;
  position: relative;
  text-align: center;
}
.footer .select-lang select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

/*# sourceMappingURL=style.css.map */
