a {
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;

  /*** Phone ****/
  @media only screen and (max-width: 600px) {
    width: 90%;
  }
}

.menu-container {
  width: 94%;
  max-width: 1600px;
  margin: 0 auto;

  /*** Phone ****/
  @media only screen and (max-width: 600px) {
    width: 90%;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    width: 170px;

    img {
      width: 100%;
      filter: invert(16%) sepia(88%) saturate(6726%) hue-rotate(352deg)
        brightness(88%) contrast(103%);
    }

    /*** Laptop ****/
    @media only screen and (max-width: 1440px) {
      width: 140px;
    }

    /*** Tablet/Ipad ****/
    @media only screen and (max-width: 900px) {
      width: 110px;
    }

    /*** Phone ****/
    @media only screen and (max-width: 700px) {
      width: 110px;
    }

    /*** Small Phone ****/
    @media only screen and (max-width: 550px) {
      width: 90px;
    }
  }

  .right-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .select-lang {
      margin-right: 35px;
      border: 1px solid #aaa;
      display: flex;
      align-items: center;
      position: relative;

      &::before {
        font-family: "FontAwesome";
        content: "\f0ac";
        color: #fff;
        margin: 0 5px;
        position: absolute;
        left: 0;
        z-index: 100;
      }

      &::after {
        font-family: "FontAwesome";
        content: "\f0dd";
        color: #fff;
        bottom: 12px;
        margin: 0 5px;
        position: absolute;
        right: 0;
        z-index: 100;
      }

      select {
        font-weight: 300;
        color: #fff;
        padding: 7px 25px;
        line-height: 1.3em;
        border: none;
        outline: none;
        background: transparent;
        text-align: center;

        & {
          -webkit-appearance: none;
          -moz-appearance: none;
          text-indent: 1px;
          text-overflow: "";
        }
      }

      /*** Phone ****/
      @media only screen and (max-width: 700px) {
        margin-right: 15px;

        select {
          padding: 5px 25px;
        }

        &::after {
          margin-top: -5px;
        }
      }

      /*** Small Phone ****/
      @media only screen and (max-width: 550px) {
        margin-right: 15px;

        select {
          padding: 5px 25px;
        }

        &::after {
          margin-top: -5px;
        }
      }
    }

    .sign-in-btn {
      font-size: 1rem;
      font-weight: 300;
      padding: 8px 25px;
      color: #fff;
      background-color: #e50914;
      text-decoration: none;
      border-radius: 3px;

      /*** Small Phone ****/
      @media only screen and (max-width: 550px) {
        padding: 6px 10px;
      }
    }
  }

  /*** Tablet/iPad ****/
  @media only screen and (max-width: 900px) {
    padding: 15px 0;
  }

  /*** Phone ****/
  @media only screen and (max-width: 700px) {
    padding: 10px 0;
  }
}

.jumbo-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/hero-bg.jpeg);
  background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url(../img/hero-bg.jpeg) no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 750px;
  margin-top: -100px;

  .jumbo-center {
    max-width: 800px;
    width: 750px;

    .jumbo-title {
      font-size: 4rem;
      font-weight: 600;
      line-height: 70px;
      color: #fff;
      text-align: center;
    }

    .jumbo-sub-title {
      text-align: center;
      color: #fff;
      font-size: 1.625rem;
      margin: 1rem auto;
      font-weight: 400;
    }

    form {
      margin-top: 30px;

      .jumbo-info {
        color: #fff;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 400;
        margin-bottom: 20px;
      }

      .email-input {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .email-input-label {
          width: 66%;
          padding-right: 10px;
          position: relative;

          input {
            border: 1px solid #8c8c8c;
            height: 65px;
            font-size: 16px;
            width: 100%;
            padding: 0 10px;
            outline: none;
            border-radius: 2px;

            &:focus {
              border-color: #0071eb;

              & + label {
                font-size: 13px;
                font-weight: 600;
                top: 12px;
              }
            }
          }

          label {
            color: #8c8c8c;
            font-size: 16px;
            left: 10px;
            position: absolute;
            top: 47%;
            transform: translateY(-50%);
            transition: font 0.1s ease, top 0.1s ease, transform 0.1s ease;
          }
        }

        .email-btn-wrapper {
          width: 31%;

          .email-btn {
            color: #fff;
            font-size: 1.6rem;
            height: 67px;
            border-left: 1px solid #333;
            border: none;
            outline: none;
            background-color: #e50914;
            cursor: pointer;
            padding: 0 1em;
            width: 100%;

            &:hover {
              background: #f40612;
              box-shadow: 0 1px 0 rgb(0 0 0 / 45%);
            }
          }
        }
      }
    }

    /*** Laptop ****/
    @media only screen and (max-width: 1440px) {
      .jumbo-title {
        text-align: center;
        font-size: 3.125rem;
        line-height: 1.1;
        width: 80%;
        margin: 0 auto;
      }

      .jumbo-sub-title {
        font-size: 1.625rem;
        font-weight: 300;
        margin: 1.5rem 0;
      }

      form {
        width: 90%;
        margin: 0 auto;

        .jumbo-info {
          font-weight: 300;
        }

        .email-input {
          flex-wrap: wrap;
          justify-content: center;

          .email-input-label {
            input {
              height: 60px;
              padding-left: 10px;
              width: 97%;
            }
          }

          .email-btn-wrapper {
            .email-btn {
              height: 62px;
            }
          }
        }
      }
    }

    /*** Tabet/iPad ****/
    @media only screen and (max-width: 900px) {
      width: 60%;
      margin-top: 50px;

      .jumbo-title {
        font-size: 3.125rem;
        line-height: 1.1;
        width: 100%;
      }

      .jumbo-sub-title {
        font-size: 1.625rem;
        font-weight: 300;
        margin: 1.5rem 0;
      }

      form {
        width: 90%;
        margin: 0 auto;

        .jumbo-info {
          font-size: 18px;
          line-height: 1.5;
          font-weight: 300;
        }

        .email-input {
          flex-wrap: wrap;
          justify-content: center;

          .email-input-label {
            width: 100%;
            padding-right: 0;

            input {
              height: 50px;
              margin-bottom: 15px;
              padding-left: 10px;
              width: 95%;

              &:focus {
                & + label {
                  font-size: 11px;
                  font-weight: 300;
                  top: 10px;
                }
              }
            }

            label {
              font-size: 14px;
              top: 35%;
            }
          }

          .email-btn-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            .email-btn {
              display: block;
              font-size: 1rem;
              font-weight: 300;
              height: 40px;
              width: 40%;
            }
          }
        }
      }
    }

    /*** Phone ****/
    @media only screen and (max-width: 700px) {
      width: 80%;
      margin-top: 50px;

      .jumbo-title {
        font-size: 3.125rem;
        line-height: 1.1;
      }

      .jumbo-sub-title {
        font-size: 1.625rem;
        font-weight: 300;
        margin: 1.5rem 0;
      }

      form {
        .jumbo-info {
          font-size: 18px;
          line-height: 1.5;
          font-weight: 300;
        }

        .email-input {
          flex-wrap: wrap;
          justify-content: center;

          .email-input-label {
            width: 100%;
            padding-right: 0;

            input {
              height: 50px;
              margin-bottom: 15px;
              padding-left: 10px;
              width: 95%;

              &:focus {
                & + label {
                  font-size: 11px;
                  font-weight: 300;
                  top: 10px;
                }
              }
            }

            label {
              font-size: 14px;
              top: 35%;
            }
          }

          .email-btn-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            .email-btn {
              font-size: 1rem;
              font-weight: 300;
              height: 40px;
              width: 40%;
            }
          }
        }
      }
    }

    /*** Small Phone ****/
    @media only screen and (max-width: 550px) {
      width: 90%;

      .jumbo-title {
        font-size: 1.75rem;
        line-height: 1.1;
      }

      .jumbo-sub-title {
        font-size: 1.125rem;
        font-weight: 300;
        margin: 1.5rem 0;
      }

      form {
        .jumbo-info {
          font-size: 18px;
          font-weight: 300;
        }

        .email-input {
          flex-wrap: wrap;
          justify-content: center;

          .email-input-label {
            width: 100%;
            padding-right: 0;

            input {
              height: 50px;
              margin-bottom: 15px;
              padding-left: 10px;
              width: 95%;

              &:focus {
                & + label {
                  font-size: 11px;
                  font-weight: 300;
                  top: 10px;
                }
              }
            }

            label {
              font-size: 14px;
              top: 35%;
            }
          }

          .email-btn-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            .email-btn {
              font-size: 1rem;
              font-weight: 300;
              height: 40px;
              width: 45%;
            }
          }
        }
      }
    }

    /*** Extra Small Phone ****/
    @media only screen and (max-width: 400px) {
      form {
        .email-input {
          flex-wrap: wrap;
          justify-content: center;

          .email-btn-wrapper {
            .email-btn {
              width: 50%;
            }
          }
        }
      }
    }
  }

  /*** Laptop ****/
  @media only screen and (max-width: 1440px) {
    height: 700px;
    margin-top: -107px;
  }

  /*** Phone ****/
  @media only screen and (max-width: 700px) {
    height: 700px;
    margin-top: -107px;
  }

  /*** Small Phone ****/
  @media only screen and (max-width: 550px) {
    height: 550px;
    margin-top: -77px;
  }
}

.movie-tv-s-section {
  background-color: #000;
  border-top: 8px solid #222;
  border-bottom: 8px solid #222;
  padding-top: 20px;
  padding-bottom: 70px;

  .movie-info {
    width: 45%;

    .movie-info-title {
      color: #fff;
      font-size: 3.125rem;
      font-weight: 600;
      line-height: 1.1;
      margin-bottom: 1rem;
    }

    .movie-info-sub-title {
      color: #fff;
      font-size: 1.625rem;
      line-height: 1.2em;
      font-weight: 400;
      margin-bottom: 0.75rem;
    }
  }

  .movie-video {
    width: 530px;
    position: relative;

    img {
      z-index: 2;
      width: 100%;
      position: relative;
    }

    video {
      height: 100%;
      left: 50%;
      max-height: 54%;
      max-width: 73%;
      position: absolute;
      top: 47%;
      transform: translate(-50%, -50%);
      width: 100%;
    }
  }

  /*** Tablet/iPad ****/
  @media only screen and (max-width: 900px) {
    padding: 50px 0;

    .container {
      display: flex;
      flex-direction: column;
      width: 80%;
    }

    .movie-info {
      text-align: center;
      width: 100%;

      .movie-info-title {
        font-size: 2.5rem;
      }

      .movie-info-sub-title {
        font-size: 1.25rem;
        font-weight: 300;
      }
    }

    .movie-video {
      width: 90%;
    }
  }

  /*** Phone ****/
  @media only screen and (max-width: 700px) {
    padding: 50px 0;

    .container {
      display: flex;
      flex-direction: column;
      width: 90%;
    }

    .movie-info {
      text-align: center;
      width: 100%;

      .movie-info-title {
        font-size: 2.5rem;
      }

      .movie-info-sub-title {
        font-size: 1.25rem;
        font-weight: 300;
      }
    }

    .movie-video {
      width: 100%;
    }
  }

  /*** Small Phone ****/
  @media only screen and (max-width: 550px) {
    padding: 50px 0;

    .container {
      display: flex;
      flex-direction: column;
      width: 90%;
    }

    .movie-info {
      text-align: center;
      width: 100%;

      .movie-info-title {
        font-size: 1.625rem;
      }

      .movie-info-sub-title {
        font-size: 1.625rem;
        font-weight: 300;
      }
    }

    .movie-video {
      width: 100%;
    }
  }
}

.download-section {
  background-color: #000;
  border-bottom: 8px solid #222;
  padding-top: 20px;
  padding-bottom: 70px;

  .download-info {
    width: 50%;

    .download-info-title {
      color: #fff;
      font-size: 3.125rem;
      font-weight: 600;
      line-height: 1.1;
      margin-bottom: 1rem;
    }

    .download-info-sub-title {
      color: #fff;
      font-size: 1.625rem;
      line-height: 1.2em;
      font-weight: 400;
      margin-bottom: 0.75rem;
    }
  }

  .download-img {
    display: flex;
    width: 45%;
    position: relative;
    margin-left: -90px;

    img {
      width: 100%;
      position: relative;
      background-position: left top;
    }

    .download-card {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      background: #000;
      border: 2px solid hsla(0, 0%, 100%, 0.25);
      border-radius: 0.75em;
      bottom: 8%;
      box-shadow: 0 0 2em 0 #000;
      left: 50%;
      min-width: 15em;
      padding: 0.25em 0.65em;
      transform: translateX(-50%);
      width: 60%;

      .str-thing-poster {
        width: 60px;

        img {
          width: 100%;
          background-size: cover;
        }
      }

      .download-card-info {
        width: 60%;
        margin-left: 20px;

        span {
          &:first-child {
            display: block;
            color: #fff;
            font-size: 1em;
            margin-bottom: 5px;
          }

          &:last-child {
            display: block;
            color: #0071eb;
          }
        }
      }

      .download-icon {
        width: 48px;
      }
    }
  }

  /*** Laptop ****/
  @media only screen and (max-width: 1440px) {
    padding: 50px 0;

    .container {
      width: 80%;
    }

    .download-img {
      margin-left: -80px;
    }
  }

  /*** Tablet/iPad ****/
  @media only screen and (max-width: 900px) {
    padding: 50px 0;

    .container {
      display: flex;
      flex-direction: column;
      align-content: center;
      width: 80%;
    }

    .download-info {
      width: 100%;
      text-align: center;
      order: 1;

      .download-info-title {
        font-size: 2.5rem;
      }

      .download-info-sub-title {
        font-size: 1.25rem;
        font-weight: 300;
      }
    }

    .download-img {
      width: 80%;
      margin-left: 0;
      order: 2;
    }
  }

  /*** Phone ****/
  @media only screen and (max-width: 700px) {
    padding: 50px 0;

    .container {
      display: flex;
      flex-direction: column;
      align-content: center;
      width: 90%;
    }

    .download-info {
      width: 100%;
      text-align: center;
      order: 1;

      .download-info-title {
        font-size: 2.5rem;
      }

      .download-info-sub-title {
        font-size: 1.25rem;
        font-weight: 300;
      }
    }

    .download-img {
      width: 100%;
      margin-left: 0;
      order: 2;
    }
  }

  /*** Small Phone ****/
  @media only screen and (max-width: 550px) {
    padding: 50px 0;

    .container {
      display: flex;
      flex-direction: column;
      align-content: center;
      width: 90%;
    }

    .download-info {
      width: 100%;
      text-align: center;
      order: 1;

      .download-info-title {
        font-size: 1.625rem;
      }

      .download-info-sub-title {
        font-size: 1.625rem;
        font-weight: 300;
      }
    }

    .download-img {
      width: 100%;
      margin-left: 0;
      order: 2;
    }
  }

  /*** Extra Small Phone ****/
  @media only screen and (max-width: 400px) {
    .download-img {
      .download-card {
        .str-thing-poster {
          width: 40px;
        }
      }
    }
  }
}

.device-section {
  background-color: #000;
  border-bottom: 8px solid #222;
  padding: 60px 0;

  .device-info {
    width: 45%;

    .device-info-title {
      color: #fff;
      font-size: 3.125rem;
      font-weight: 600;
      line-height: 1.1;
      margin-bottom: 1rem;
    }

    .device-info-sub-title {
      color: #fff;
      font-size: 1.625rem;
      line-height: 1.2em;
      font-weight: 400;
      margin-bottom: 0.75rem;
    }
  }

  .device-video {
    width: 530px;
    position: relative;

    img {
      z-index: 2;
      width: 100%;
      position: relative;
    }

    video {
      height: 100%;
      left: 50%;
      max-height: 47%;
      max-width: 63%;
      position: absolute;
      top: 34%;
      transform: translate(-50%, -50%);
      width: 100%;
    }
  }

  /*** Tablet/iPad ****/
  @media only screen and (max-width: 900px) {
    padding: 50px 0;

    .container {
      display: flex;
      flex-direction: column;
      align-content: center;
      width: 80%;
    }

    .device-info {
      width: 100%;
      text-align: center;
      order: 1;

      .device-info-title {
        font-size: 2.5rem;
      }

      .device-info-sub-title {
        font-size: 1.25rem;
        font-weight: 300;
      }
    }

    .device-video {
      width: 80%;
      margin-left: 0;
      order: 2;
    }
  }

  /*** Phone ****/
  @media only screen and (max-width: 700px) {
    padding: 50px 0;

    .container {
      display: flex;
      flex-direction: column;
      align-content: center;
      width: 90%;
    }

    .device-info {
      width: 100%;
      text-align: center;
      order: 1;

      .device-info-title {
        font-size: 2.5rem;
      }

      .device-info-sub-title {
        font-size: 1.25rem;
        font-weight: 300;
      }
    }

    .device-video {
      width: 100%;
      margin-left: 0;
      order: 2;
    }
  }

  /*** Small Phone ****/
  @media only screen and (max-width: 550px) {
    padding: 50px 0;

    .container {
      display: flex;
      flex-direction: column;
      align-content: center;
      width: 90%;
    }

    .device-info {
      width: 100%;
      text-align: center;
      order: 1;

      .device-info-title {
        font-size: 1.625rem;
      }

      .device-info-sub-title {
        font-size: 1.625rem;
        font-weight: 300;
      }
    }

    .device-video {
      width: 100%;
      margin-left: 0;
      order: 2;
    }
  }
}

.kid-section {
  background-color: #000;
  border-bottom: 8px solid #222;
  padding: 70px 0;

  .kid-info {
    width: 50%;

    .kid-info-title {
      color: #fff;
      font-size: 3.125rem;
      font-weight: 600;
      line-height: 1.1;
      margin-bottom: 1rem;
    }

    .kid-info-sub-title {
      color: #fff;
      font-size: 1.625rem;
      line-height: 1.2em;
      font-weight: 400;
      margin-bottom: 0.75rem;
    }
  }

  .kid-img {
    display: flex;
    width: 45%;

    img {
      width: 100%;
    }
  }

  /*** Tablet/iPad ****/
  @media only screen and (max-width: 900px) {
    padding: 50px 0;

    .container {
      display: flex;
      flex-direction: column;
      align-content: center;
      width: 80%;
    }

    .kid-info {
      width: 100%;
      text-align: center;
      order: 1;

      .kid-info-title {
        font-size: 2.5rem;
      }

      .kid-info-sub-title {
        font-size: 1.25rem;
        font-weight: 300;
      }
    }

    .kid-img {
      width: 80%;
      margin-left: 0;
      order: 2;
    }
  }

  /*** Phone ****/
  @media only screen and (max-width: 700px) {
    padding: 50px 0;

    .container {
      display: flex;
      flex-direction: column;
      align-content: center;
      width: 90%;
    }

    .kid-info {
      width: 100%;
      text-align: center;
      order: 1;

      .kid-info-title {
        font-size: 2.5rem;
      }

      .kid-info-sub-title {
        font-size: 1.25rem;
        font-weight: 300;
      }
    }

    .kid-img {
      width: 100%;
      margin-left: 0;
      order: 2;
    }
  }

  /*** Small Phone ****/
  @media only screen and (max-width: 550px) {
    padding: 50px 0;

    .container {
      display: flex;
      flex-direction: column;
      align-content: center;
      width: 90%;
    }

    .kid-info {
      width: 100%;
      text-align: center;
      order: 1;

      .kid-info-title {
        font-size: 1.625rem;
      }

      .kid-info-sub-title {
        font-size: 1.625rem;
        font-weight: 300;
      }
    }

    .kid-img {
      width: 100%;
      margin-left: 0;
      order: 2;
    }
  }
}

.faq-section {
  background-color: #000;
  padding: 70px 0;

  .faq-title {
    color: #fff;
    text-align: center;
    font-size: 3.125rem;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 0.5rem;
  }

  .faq-container {
    width: 75%;
    max-width: 815px;
    margin: 4em auto;
    position: relative;

    .faq-box {
      &:not(:last-child) {
        margin-bottom: 8px;
      }

      .faq-q {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        background: #303030;
        color: #fff;
        font-size: 1.625rem;
        padding: 0.8em 2.2em 0.8em 1.2em;
        cursor: pointer;

        &.open {
          i {
            transform: rotate(-45deg);
          }

          & + .faq-a {
            padding: 1.8em;
            overflow: visible;
            height: auto;
          }
        }

        &:not(:last-child) {
          margin-bottom: 2px;
        }

        i {
          margin-right: -20px;
        }
      }

      .faq-a {
        display: block;
        background: #303030;
        height: 0;
        padding: 0;
        overflow: hidden;

        &:not(:last-child) {
          padding-top: 2px;
          padding-bottom: 7px;
        }

        p {
          color: #fff;
          font-size: 1.625rem;
          font-weight: 300;
          line-height: 1.2;

          &:first-child {
            padding-bottom: 1em;
          }
        }
      }
    }
  }

  .sign-up-form {
    width: 750px;
    max-width: 800px;
    margin: 0 auto;
    max-width: 1100px;

    form {
      margin-top: 30px;
      width: 100%;

      .jumbo-info {
        color: #fff;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 400;
        margin-bottom: 20px;
      }

      .email-input {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .email-input-label {
          width: 66%;
          padding-right: 10px;
          position: relative;

          input {
            border: 1px solid #8c8c8c;
            height: 65px;
            font-size: 16px;
            width: 100%;
            padding: 0 10px;
            outline: none;
            border-radius: 2px;

            &:focus {
              border-color: #0071eb;

              & + label {
                font-size: 13px;
                font-weight: 600;
                top: 12px;
              }
            }
          }

          label {
            color: #8c8c8c;
            font-size: 16px;
            left: 10px;
            position: absolute;
            top: 47%;
            transform: translateY(-50%);
            transition: font 0.1s ease, top 0.1s ease, transform 0.1s ease;
          }
        }

        .email-btn-wrapper {
          width: 31%;

          .email-btn {
            color: #fff;
            font-size: 1.6rem;
            height: 67px;
            border-left: 1px solid #333;
            border: none;
            outline: none;
            background-color: #e50914;
            cursor: pointer;
            padding: 0 1em;
            width: 100%;

            &:hover {
              background: #f40612;
              box-shadow: 0 1px 0 rgb(0 0 0 / 45%);
            }
          }
        }
      }
    }
  }

  /*** Laptop ****/
  @media only screen and (max-width: 1440px) {
    .sign-up-form {
      form {
        width: 90%;
        margin: 0 auto;

        .jumbo-info {
          font-weight: 300;
        }

        .email-input {
          flex-wrap: wrap;
          justify-content: center;

          .email-input-label {
            input {
              height: 60px;
              padding-left: 10px;
              width: 97%;
            }
          }

          .email-btn-wrapper {
            .email-btn {
              height: 62px;
            }
          }
        }
      }
    }
  }

  /*** Tablet/iPad ****/
  @media only screen and (max-width: 900px) {
    padding: 50px 0;

    .faq-title {
      font-size: 2.5rem;
    }

    .faq-container {
      width: 80%;
      margin: 3em auto;

      .faq-box {
        .faq-q {
          font-size: 1.25rem;
        }

        .faq-a {
          p {
            font-size: 1.25rem;
          }
        }
      }
    }

    .sign-up-form {
      width: 60%;

      form {
        .jumbo-info {
          font-size: 23px;
          line-height: 1.2;
          font-weight: 300;
        }

        .email-input {
          flex-wrap: wrap;
          justify-content: center;

          .email-input-label {
            width: 100%;
            padding-right: 0;

            input {
              height: 50px;
              margin-bottom: 15px;
              padding-left: 10px;
              width: 95%;

              &:focus {
                & + label {
                  font-size: 11px;
                  font-weight: 300;
                  top: 10px;
                }
              }
            }

            label {
              font-size: 14px;
              top: 35%;
            }
          }

          .email-btn-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            .email-btn {
              font-size: 1rem;
              font-weight: 300;
              height: 40px;
              width: 40%;
            }
          }
        }
      }
    }
  }

  /*** Phone ****/
  @media only screen and (max-width: 700px) {
    padding: 50px 0;

    .faq-title {
      font-size: 2.5rem;
    }

    .faq-container {
      width: 80%;
      margin: 3em auto;

      .faq-box {
        .faq-q {
          font-size: 1.25rem;
        }

        .faq-a {
          p {
            font-size: 1.25rem;
          }
        }
      }
    }

    .sign-up-form {
      width: 80%;

      form {
        .jumbo-info {
          font-size: 18px;
          line-height: 1.2;
          font-weight: 300;
        }

        .email-input {
          flex-wrap: wrap;
          justify-content: center;

          .email-input-label {
            width: 100%;
            padding-right: 0;

            input {
              height: 50px;
              margin-bottom: 15px;
              padding-left: 10px;
              width: 95%;

              &:focus {
                & + label {
                  font-size: 11px;
                  font-weight: 300;
                  top: 10px;
                }
              }
            }

            label {
              font-size: 14px;
              top: 35%;
            }
          }

          .email-btn-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            .email-btn {
              font-size: 1rem;
              font-weight: 300;
              height: 40px;
              width: 40%;
            }
          }
        }
      }
    }
  }

  /*** Small Phone ****/
  @media only screen and (max-width: 550px) {
    padding: 50px 0;

    .faq-title {
      font-size: 1.625rem;
    }

    .faq-container {
      width: 90%;
      margin: 3em auto;

      .faq-box {
        .faq-q {
          font-size: 1.25rem;
        }

        .faq-a {
          p {
            font-size: 1.25rem;
          }
        }
      }
    }

    .sign-up-form {
      width: 90%;

      form {
        .jumbo-info {
          font-size: 18px;
          line-height: 1.2;
          font-weight: 300;
        }

        .email-input {
          flex-wrap: wrap;
          justify-content: center;

          .email-input-label {
            width: 100%;
            padding-right: 0;

            input {
              height: 50px;
              margin-bottom: 15px;
              padding-left: 10px;
              width: 95%;

              &:focus {
                & + label {
                  font-size: 11px;
                  font-weight: 300;
                  top: 10px;
                }
              }
            }

            label {
              font-size: 14px;
              top: 35%;
            }
          }

          .email-btn-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            .email-btn {
              font-size: 1rem;
              font-weight: 300;
              height: 40px;
              width: 45%;
            }
          }
        }
      }
    }
  }

  /*** Extra Small Phone ****/
  @media only screen and (max-width: 400px) {
    .sign-up-form {
      form {
        .email-input {
          flex-wrap: wrap;
          justify-content: center;

          .email-btn-wrapper {
            .email-btn {
              width: 50%;
            }
          }
        }
      }
    }
  }
}

.footer {
  border-top: 8px solid #222;
  padding: 70px 45px;
  background-color: #000;

  .footer-container {
    width: 60%;
    max-width: 900px;
    margin: 0 auto;
  }

  .footer-number {
    margin-bottom: 30px;

    p {
      font-size: 1em;
      color: #737373;

      a {
        color: #737373;
      }
    }
  }

  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    .footer-box {
      .footer-link-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .footer-list {
          &:not(:last-child) {
            margin-bottom: 16px;
          }

          .footer-link {
            color: #737373;
            font-size: 13px;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .select-lang {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(34, 34, 34);
    align-items: center;
    padding: 0 30px;
    position: relative;

    &::before {
      font-family: "FontAwesome";
      content: "\f0ac";
      color: #999;
      margin: 0 10px;
      position: absolute;
      left: 0;
      z-index: 100;
    }

    &::after {
      font-family: "FontAwesome";
      content: "\f0dd";
      color: #999;
      margin: 0 10px;
      bottom: 20px;
      position: absolute;
      right: 0;
      z-index: 100;
    }

    select {
      font-weight: 300;
      color: #999;
      padding: 16px 5px;
      line-height: 1.3em;
      border: none;
      outline: none;
      width: 100%;
      background: transparent;
      position: relative;
      text-align: center;

      & {
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: "";
      }
    }
  }

  /*** Tablet/iPad ****/
  @media only screen and (max-width: 900px) {
    padding: 50px 10px;

    .footer-container {
      width: 80%;
    }

    .footer-wrapper {
      display: flex;
    }

    .select-lang {
      display: inline-flex;
      padding: 0 25px;
    }
  }

  /*** Phone ****/
  @media only screen and (max-width: 700px) {
    padding: 50px 10px;

    .footer-container {
      width: 90%;
    }

    .footer-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
    }

    .select-lang {
      display: inline-flex;
      padding: 0 25px;
    }
  }

  /*** Small Phone ****/
  @media only screen and (max-width: 550px) {
    padding: 50px 10px;

    .footer-container {
      width: 90%;
    }

    .footer-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
    }

    .select-lang {
      display: inline-flex;
      padding: 0 25px;
    }
  }
}
